
<div class="wrapper">
	<div class="container" id="account1">

		<h2 class="page-header" id="account">Manager Login</h2>

		
<form method="post" action="/users/loginmanager">
  <div class="form-group">
    <label style="color: white;">username</label>
    <input type="text" class="form-control" name="username" placeholder="Username" size="10" required>
  </div>
  <div class="form-group">
    <label style="color: white;">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-default btn-responsive" id="account2">Submit</button>
</form>
</div>
</div>