{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div class="wrapper">
  <div class="container" id="account1">
<h2 class="page-header" id="account">Account SignUp</h2>
<form method="post" action="/users/register">
  <div class="form-row">
     <div class="form-group col-md-6">
    <label style="color: white">First Name</label>
    <input type="text" class="form-control" name="first_name" placeholder="first name" required>
  </div>
  <div class="form-group col-md-6">
    <label style="color: white">Last Name</label>
    <input type="text" class="form-control" name="last_name" placeholder="last name" required>
  </div>
  </div>
   <div class="form-group">
    <label style="color: white">Phone No.</label>
    <input type="tel" class="form-control" name="phone_no" placeholder="phone no." required>
  </div>
  <div class="form-group">
    <label style="color: white">Email</label>
    <input type="email" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <label style="color: white">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" required>
  </div>
  <div class="form-group col-md-6">
    <label style="color: white">Confirm Password</label>
    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
  </div>
  </div>
  <button type="submit" class="btn btn-default"  id="account2">Submit</button>
</form>

<!--
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>-->